@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



.tab{
    overflow: hidden;
    background-color: white;
    position: absolute;
    width: 100%;
    border-style: solid;
}

.tab img{
    width: 100px;
    float:left;
}

.tab a{
    float: left;
  display: block;
  color: black;
  text-align: left;
  padding: 20px 20px;
  text-decoration: none;
}

.tab a:hover{
    background: #ddd;
    color: black;
}
.tab a.active {
    background-color: #4CAF50;
    color: black;
  }

.tab .icon {
    display: none;
  }

  @media screen and (max-width:360px) and (max-width:762px) {
    .tab a:not(:first-child) {display: none;}
    .tab a.icon {
      float: right;
      display: block;
    }
  }

 @media only screen and (max-width:411px) {
      .tab a:not(:first-child) {display: none;}
      .tab a.icon {
        float: right;
        display: block;
      }
    }

    @media only screen and (max-width:412px) {
      .tab a:not(:first-child) {display: none;}
      .tab a.icon {
        float: right;
        display: block;
      }
    }
@media screen and (max-width:360px) and (max-width:762px) {
    .tab.responsive {position: relative;}
    .tab.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      display: inline;
    }
    .tab.responsive a {
      float: none;
      display: block;
      text-align: left;
      color: black;
    }
    }

     @media only screen and (max-width:411px) {
      .tab.responsive {position: relative;}
      .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
      }
      .tab.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
      }
  }

  @media only screen and (max-width:412px) {
      .tab.responsive {position: relative;}
      .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
      }
      .tab.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
      }
  }
    .tab img{
        left: 50%;
        top: 50%
    }

    .head h1{
      text-align: center;
      font-size: 72px;
      font-family: 'Quicksand',sans-serif;
      text-transform: uppercase;
    }

    body{
			height: 100%;
			margin: 0;
			background: #7F7FD5;
	       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
			background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
			margin-top: 120px;
    		margin-bottom: 120px;
		}

		.chat{
			margin-top: auto;
			margin-bottom: auto;
		}
		.card{
			height: 500px;
			border-radius: 15px !important;
			background-color: rgba(0,0,0,0.4) !important;
		}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}
		.msg_card_body{
			overflow-y: auto;
		}
		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;
		}
	 .card-footer{
		border-radius: 0 0 15px 15px !important;
			border-top: 0 !important;
	}
		.container{
			align-content: center;
		}
		.search{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.type_msg{
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
			height: 60px !important;
			overflow-y: auto;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 5px 10px;
			margin-bottom: 15px !important;
		}
	.active{
			background-color: rgba(0,0,0,0.3);
	}
		.user_img{
			height: 70px;
			width: 70px;
			border:1.5px solid #f5f6fa;

		}
		.user_img_msg{
			height: 40px;
			width: 40px;
			border:1.5px solid #f5f6fa;

		}
	.img_cont{
			position: relative;
			height: 70px;
			width: 70px;
	}
	.img_cont_msg{
			height: 40px;
			width: 40px;
	}
	.online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		bottom: 0.2em;
		right: 0.4em;
		border:1.5px solid white;
	}
	.offline{
		background-color: #c23616 !important;
	}
	.user_info{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
	}
	.user_info span{
		font-size: 20px;
		color: white;
	}
	.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	.msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		position: relative;
	}
	.msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		position: relative;
	}
	.msg_time{
		position: absolute;
		left: 0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_time_send{
		position: absolute;
		right:0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_head{
		position: relative;
	}
	#action_menu_btn{
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 20px;
	}
	.action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 30px;
		right: 15px;
		display: none;
	}
	.action_menu ul{
		list-style: none;
		padding: 0;
	margin: 0;
	}
	.action_menu ul li{
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 5px;
	}
	.action_menu ul li i{
		padding-right: 10px;

	}
	.action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}
	@media(max-width: 576px){
	.contacts_card{
		margin-bottom: 15px !important;
	}
	}

	.pay{
		color: white;
		font-family: 'Didact Gothic', sans-serif;
	}


	body {
    font-family: 'Calibri', 'TimesNewRomanPSMT';
    font-size: 14px;
    overflow-x: hidden !important;
    line-height: 1;
    margin: 0;
    padding: 0;
    background: #fff
}

a {
    color: #658ad0;
    transition: all 0.5s ease
}

a:hover {
    color: #3e6cc4;
    text-decoration: none
}

a:active {
    outline: none;
    text-decoration: none
}

a:focus {
    outline: none;
    text-decoration: none
}

button:focus {
    outline: none;
    text-decoration: none
}

img {
    line-height: 0;
    transition: all 0.5s ease
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    padding: 0
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}

.clear {
    clear: both;
    content: '';
    display: block;
    width: 100%
}

.clear:after {
    clear: both;
    content: '';
    display: block;
    width: 100%
}

.form-control:focus {
    border-color: #3b0600;
    outline: none
}

.left {
    float: left
}

.right {
    float: right
}

.center {
    text-align: center
}

body {}

@font-face {
    font-family: 'Calibri';
    font-weight: normal;
    font-style: normal;
}

.tab_sec {
    background: #F0FFF0 no-repeat center top;
    padding: 85px 0px 50px 0;
    min-height: 650px;
    background-size: 100%
}

.tab_in_sec {
    max-width: 775px;
    width: 100%;
    margin: 66px auto
}

.tab_in_sec .panel-default>.panel-heading {
    padding: 0
}

.tab_in_sec .panel-default>.panel-heading a {
    display: block;
    padding: 20px 15px;
    font-size: 17px;
    color: #4f4f4f;
    text-transform: uppercase;
    background: #fff;
    border: solid 1px #ccc;
    margin: 10px 0
}

.collapse.in {}

.panel {
    background: none;
    border: none
}

.panel-body {
    background: #fff;
    margin-top: 7px;
    border: solid 1px #ccc;
    padding: 40px 35px 25px 35px;
}

    {
    margin: 0px;
    position: relative;
    top: 14px;
    border-color: #bfbfbf
}

.tab_in_sec .panel-default>.panel-heading a {
    background: #000;
    color: #fff;
}

.tab_in_sec .panel-default>.panel-heading a.active {
    background: #000;
    color: #fff;
}

.tab_first {
    background: none;
    position: absolute;
    top: 66px;
    left: 320px;
    width: 100%;
}

.tab_first .panel-heading {
    background: none;
    border-bottom: none;
    box-shadow: none;
    padding: 0px;
}

.tab_first .panel-heading {}

.tab_sec {
    position: relative;
}

.tab_first .panel-heading ul li {
    display: inline-block;
    text-align: center;
}

.tab_first .panel-heading ul li a {
    padding: 15px 35px;
    font-weight: bold;
    background: #d82028;
    color: #fff;
    text-transform: uppercase;
}

.tab_first .panel-primary {
    box-shadow: none;
    padding-left: 30px;
}

.actives {
    background: #d82028 !important;
    color: #fff !important;
}

.panel-body p {
    margin-bottom: 15px;
}

@media (min-width:1681px) and (max-width:1920px) {
    .tab_first {
        left: 600px;
    }
}

@media (min-width:1599px) and (max-width:1680px) {
    .tab_first {
        left: 476px;
    }
}

@media (min-width:1439px) and (max-width:1600px) {
    .tab_first {
        left: 430px;
    }
}

@media (min-width:1367px) and (max-width:1440px) {
    .tab_first {
        left: 342px;
    }
}

@media only screen and (max-width:1280px) {
    .tab_first {
        left: 270px;
    }
}

@media only screen and (max-width:1024px) {
    .tab_first {
        left: 135px;
    }
}

@media only screen and (max-width: 992px) {
    .tab_first .panel-primary {
        padding-left: 0px;
    }

    .tab_first .panel-heading ul li a {
        padding: 12px 20px;
    }

    .tab_first {
        top: -38px;
    }
}

@media only screen and (max-width: 767px) {
    .tab_first {
        display: none;
    }

    .top_appy {
        width: 192px;
        margin-top: 5px;
        position: relative;
        z-index: 101;
        float: none;
        margin: 5px auto 0 auto;
    }

    .top_appy a {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

    .tab_sec {
        background: none;
    }
}

@media only screen and (max-width: 480px) {
    .top_appy {
        margin-top: 0px;
    }

    .tab_in_sec h2 span {
        display: none;
    }

    .tab_in_sec h2 strong {
        background: ;
    }

    .tab_sec {
        padding: 25px 0 25px 0px;
    }

    .tab_in_sec h2 {
        margin: 0px;
        margin-bottom: 15px;
    }
}
