@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body{
    background : #C2DFFF;
    
  }
  
  .tab{
      overflow: hidden;
      background-color: white;
      position: fixed; 
      width: 100%;
      border-style: solid;
  }
  
  .tab img{
      width: 100px;
      float:left;
  }
  
  .tab a{
      float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .tab a:hover{
      background: #ddd;
      color: black;
  }
  .tab a.active {
      background-color: #4CAF50;
      color: black;
    }
    
  .tab .icon {
      display: none;
    }
  
    @media screen and (max-width: 600px) {
      .tab a:not(:first-child) {display: none;}
      .tab a.icon {
        float: right;
        display: block;
      }
    }
    
  @media screen and (max-width: 600px) {
      .tab.responsive {position: relative;}
      .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
      }
      .tab.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
      }
      }
      .tab img{
          left: 50%;
          top: 50%
      }

      #circle-shape-example { 
        margin: 3rem; 
      }
      #circle-shape-example h1{
        text-align: center;
        font-family: 'Staatliches', cursive;
      }
      #circle-shape-example p { 
        line-height: 1.8; 
        font-family: 'Didact Gothic', sans-serif;
        font-size: 30px;
      }
      #circle-shape-example .curve { 
        width: 40%; height: auto;
        min-width: 100px;
        float: left;
        margin-right:2rem; 
        border-radius: 50%;
        -webkit-shape-outside:circle();
        shape-outside:circle();
        size: 50px;
      }

      .head h1{
        text-align: center;
        font-size: 72px;
        font-family: 'Staatliches', cursive;
        font-style: oblique;
      }

      .post h2{
          text-transform: capitalize;
          font-size: 48px;
          font-family: 'Staatliches', cursive;
      }

      .post img {
        width: 500px;
        height: 500px;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .post p{
        font-size: 18px;
        font-family: 'Didact Gothic', sans-serif;
      }

      .post h3{
        font-size: 32px;
        font-family: 'Staatliches', cursive;
      }