@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.body{
  padding: 10px;
  font-family: 'Lato', sans-serif;
  background: #29285d;
}
 

.tab{
    overflow: hidden;
    background-color: white;
    position: absolute;
    width: 100%;
    border-style: solid;
}

.tab img{
    width: 100px;
    float:left;
}

.tab a{
    float: left;
  display: block;
  color: black;
  text-align: left;
  padding: 20px 20px;
  text-decoration: none;
}

.tab a:hover{
    background: #ddd;
    color: black;
}
.tab a.active {
    background-color: #4CAF50;
    color: black;
  }

.tab .icon {
    display: none;
  }


 @media only screen and (max-width:360px) and (max-width:762px) {
      .tab a:not(:first-child) {display: none;}
      .tab a.icon {
        float: right;
        display: block;
      }
    }

    @media only screen and (max-width:411px) {
      .tab a:not(:first-child) {display: none;}
      .tab a.icon {
        float: right;
        display: block;
      }
    }

    @media only screen and (max-width:412px) {
      .tab a:not(:first-child) {display: none;}
      .tab a.icon {
        float: right;
        display: block;
      }
    }


  @media only screen and (max-width:360px) and (max-width:762px) {
      .tab.responsive {position: relative;}
      .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
      }
      .tab.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
      }
  }

   @media only screen and (max-width:411px) {
      .tab.responsive {position: relative;}
      .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
      }
      .tab.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
      }
  }

  @media only screen and (max-width:412px) {
      .tab.responsive {position: relative;}
      .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
      }
      .tab.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
      }
  }
  @media screen and (max-width: 600px) {
    .tab a:not(:first-child) {display: none;}
    .tab a.icon {
      float: right;
      display: block;
    }
  }

@media screen and (max-width: 600px) {
    .tab.responsive {position: relative;}
    .tab.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      display: inline;
    }
    .tab.responsive a {
      float: none;
      display: block;
      text-align: left;
      color: black;
    }
    }
    .tab img{
        left: 50%;
        top: 50%
    }

    .img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   left: 200px;
   padding: 2px 0;
}

.section-white {
  background-color: #29285d;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}


  .button5 {
    width: 150px;
    display: block;
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }

  .button5:hover {
    background-color: #555555;
    color: white;
  }

  .program h1{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }

  .how-section1{
    padding: 5%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 26px;
}

.how-section1 h4:link
{
    color: #ffa500;
    font-weight: bold;
    font-size: 26px;
}

.how-section1 h4:hover{
    color: #ffa500;
    font-weight: bold;
    font-size: 26px;
}

.how-section1 h4:active{
    color: #ffa500;
    font-weight: bold;
    font-size: 26px;
}

.how-section1 .subheading{
    color: #3931af;
    font-size: 18px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img
{
    text-align: center;
}
.how-img img{
    width: 40%;
}

@media screen and (max-width: 600px) {
  .how-section1{
    padding: 10%;
  }

}

.text-light {
    color: #f8f9fa!important;
    font-family: system-ui;
}


section {
    background: #29285d;
    border-radius: 25px;
}

.testy h1{
    top: 35px;
    position: relative;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.quote {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-family: "system-ui";
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    color: white;
    font-family: "system-ui";
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}


.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.counter-box {
  display: block;
  background: #f6f6f6;
  padding: 40px 20px 37px;
  text-align: center;
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #909090;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #d2d2d2;
}

.counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #666;
  line-height: 28px;
}

.counter-box.colored {
  background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: #fff;
}


footer{
  background-color: #33383c;
  padding:70px 0px;
}

.adress span , .contact span , .social span{
color: #FFF;
font-weight: 800;
padding:20px 0px;
display: block;
text-transform: uppercase;
font-size: 16px;
letter-spacing: 3px;
}

.adress li , .contact li , .social li {
 padding:5px 0px;
 list-style: none;
}

.adress li p , .contact li a , .social li a{
 color:#FFF;
 letter-spacing: 2px;
 text-decoration:none;
 font-size:14px;
}

.social li{
 float:left;
}

.social .fa{
 color:#9c9c9c;
 margin-right: 10px;
 font-size:22px;
}
