

body{
  font-family: 'Roboto', sans-serif;
}

.tab{
    overflow: hidden;
    background-color: white;
    position: fixed; 
    width: 100%;
    border-style: solid;
}

.tab img{
    width: 100px;
    float:left;
}

.tab a{
    float: left;
  display: block;
  color: black;
  text-align: left;
  padding: 20px 20px;
  text-decoration: none;
}

.tab a:hover{
    background: #ddd;
    color: black;
}
.tab a.active {
    background-color: #4CAF50;
    color: black;
  }
  
.tab .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .tab a:not(:first-child) {display: none;}
    .tab a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    .tab.responsive {position: relative;}
    .tab.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      display: inline;
    }
    .tab.responsive a {
      float: none;
      display: block;
      text-align: left;
      color: black;
    }
    }
    .tab img{
        left: 50%;
        top: 50%
    }
  
    .img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   left: 200px;
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}
    

  .button5 {
    width: 150px;
    display: block;
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }
  .program h1{
    top: 320px;
    position: relative;
    text-align: center;
    font-size: 48px;
  }

  .how-section1{
    margin-top:15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 40%;
}

@media screen and (max-width: 600px) {
  .how-section1{
    margin-top: 55%;
  }

}


.border-5, .border-w-5 {
  border-width: 5px !important;
}
.border-white {
  border: 1px solid transparent;
  border-color: #fff !important;
}
hr.hr-primary {
  border-top-color: #CC164D!important;
}
em {
  font-style: italic;
}
.font-weight-normal {
  font-weight: 400 !important;
}

.btn-block{
  width: 30px;
  height: 20%;
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

footer{
  background-color: #33383c;
  padding:70px 0px;
}	       

.adress span , .contact span , .social span{
color: #FFF; 
font-weight: 800; 
padding:20px 0px;
display: block;
text-transform: uppercase;
font-size: 16px;
letter-spacing: 3px;
}

.adress li , .contact li , .social li {
 padding:5px 0px;
 list-style: none;
}

.adress li p , .contact li a , .social li a{
 color:#FFF;
 letter-spacing: 2px;
 text-decoration:none;
 font-size:14px;
}

.social li{
 float:left;
}

.social .fa{
 color:#9c9c9c;
 margin-right: 10px;
 font-size:22px;
}
