@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    background : #fafafa;
    margin-top:20px;

  }

  .tab{
      overflow: hidden;
      background-color: white;
      position: absolute;
      width: 100%;
      border-style: solid;
  }

  .tab img{
      width: 100px;
      float:left;
  }

  .tab a{
      float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 20px 20px;
    text-decoration: none;
  }

  .tab a:hover{
      background: #ddd;
      color: black;
  }
  .tab a.active {
      background-color: #4CAF50;
      color: black;
    }

  .tab .icon {
      display: none;
    }
    .tab img{
          left: 50%;
          top: 50%
      }
    @media only screen and (max-width:360px) and (max-width:762px) {
      .tab a:not(:first-child) {display: none;}
      .tab a.icon {
        float: right;
        display: block;
      }
    }

    @media only screen and (max-width:411px) {
      .tab a:not(:first-child) {display: none;}
      .tab a.icon {
        float: right;
        display: block;
      }
    }

    @media only screen and (max-width:412px) {
      .tab a:not(:first-child) {display: none;}
      .tab a.icon {
        float: right;
        display: block;
      }
    }


  @media only screen and (max-width:360px) and (max-width:762px) {
      .tab.responsive {position: relative;}
      .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
      }
      .tab.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
      }
  }

   @media only screen and (max-width:411px) {
      .tab.responsive {position: relative;}
      .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
      }
      .tab.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
      }
  }

  @media only screen and (max-width:412px) {
      .tab.responsive {position: relative;}
      .tab.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
      }
      .tab.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
      }
  }

  .hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
  }
  
  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  
  .hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }
  
  .hover-content {
    position: relative;
    z-index: 99;
  }
  
  
  
  /* DEMO 4 ============================== */
  .hover-4 img {
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hover-4 .hover-overlay {
    background: rgba(0, 0, 0, 0.4);
    z-index: 90;
  }
  
  .hover-4-title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3rem;
    z-index: 99;
  }
  
  .hover-4-description {
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-align: right;
    border-right: 3px solid #fff;
    padding: 0 1rem;
    z-index: 99;
    transform: translateX(-1.5rem);
    opacity: 0;
    transition: all 0.3s;
  }
  
  @media (min-width: 992px) {
    .hover-4-description {
      width: 50%;
    }
  }
  
  .hover-4:hover img {
    width: 100%;
  }
  
  .hover-4:hover::after {
    opacity: 1;
    transform: none;
  }
  
  .hover-4:hover .hover-4-description {
    opacity: 1;
    transform: none;
  }
  
  .hover-4:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.8);
  }
  