 {% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <meta name="viewport"content="height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="{% static 'mysite/css/about.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="{% static 'mysite/js/menu.js' %}"></script>
		<div class="tab" id="myTab">
			<a href="/home/"><img src="{% static 'mysite/img/cypng.png' %}">&nbsp;&nbsp;</a>
			<a href="/about/">About</a>
			<a href="/edu/">Education</a>
			<a href="/env/">Environment</a>
			<a href="/soc/">Social Welfare</a>
			<a href="/others/">Others</a>
			<a href="/members/">Members</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSfbTY4DXamVF2o9NKwWtbivj3B-zajR8SeUzFBooOnKMpQzjQ/viewform">Join Us</a>
			<a href="/volunteer/">Volunteer</a>
			<a href="/donate/">Donate</a>
			<a href="/contact/">Contact us</a>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
			<i class="fa fa-bars" aria-hidden = "true"></i>
			</a>
		</div>
        <section class="newsletter">
        <div class="container">
        <div class="row">
        <div class="col-sm-12">
        <div class="content">
			<br><br>
			<h2>WELCOME TO CHENNAI YOUNGSTERS</h2>
			<br><br>
            <p>Chennai Youngsters is a Non Profitable Organisation Compiled with Enthusiastic Youngsters in
        and around Chennai with the common objectives of working for bringing in sustainable
        development by taking step for eradicating poverty, Providing elementary educational,
		Awareness among the masses, Environment sustainability. We aim at Empowering and organising Youth to achieve the vision of success
	and transformation of modern society we live in and make them to be a responsible citizen of India.</p>
        </div>
    </div>
    </div>
    </div>
    </section>
    <section id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">Goals and Motives</h2>
			<p class="text-center text-muted h4">Our on going goal is to bridge the inequalities in society by<br> improving the standards of education
                and encouraging the youth to volunteer their time for the nation’s progress.<br> We have reached a
                Good Peak by direct and indirect involvement of our volunteers and Executive committee..</p>
			<div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Different Platforms</h3>
							<p class="card-text">With volunteers from various fields we reach our destination so quickly and easily.</p>

						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">Emerging Projects</h3>
							<p class="card-text">The volunteers are allowed to pitch in their ideas to the executive committee and they get to host and lead .</p>

						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Fulfilling Request</h3>
							<p class="card-text">The requests like blood donation, educational payments are completed immediately in few hours after the request have been passed.</p>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Environmental Nourishment</h3>
							<p class="card-text">Our team works on environment development and educate people about the environment we living.</p>

						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">Social Development</h3>
							<p class="card-text">Our members also explore and reach the society by RTI development, Situational Projects, Self Growth Programmes etc.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">Arising Youths</h3>
							<p class="card-text">Stepping stone for your Self-Growth, Networking with people in various fields, learn teamwork, leadership, Communication, Public Speaking etc.
								are some of the perks of being a member of Chennai Youngsters.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <div class="row">
		<div class="column">
		  <img src="{% static 'mysite/img/covid19.jpg' %}" style="width:100%">
		  <img src="{% static 'mysite/img/ll.jpg' %}" style="width:100%">
		  <img src="{% static 'mysite/img/mm.jpg' %}" style="width:100%">
		  <img src="{% static 'mysite/img/ddd.jpg' %}" style="width:100%">
		</div>

		<div class="column">
		  <img src="{% static 'mysite/img/748177-2.jpg' %}" style="width:100%">
		  <img src="{% static 'mysite/img/111.jpg' %}" style="width:100%">
		</div>

		<div class="column">
		  <img src="{% static 'mysite/img/748177-3.jpg' %}" style="width:100%">
		  <img src="{% static 'mysite/img/n758.jpg' %}" style="width:100%">
		  <img src="{% static 'mysite/img/hey.jpg' %}"style="width:100%">
		  <img src="{% static 'mysite/img/push.jpg' %}"style="width:100%">
		</div>

		<div class="column">
		  <img src="{% static 'mysite/img/ver.jpg' %}" style="width:100%">
		  <img src="{% static 'mysite/img/pattas.jpg' %}" style="width:100%">
		</div>
	  </div>

		<div class="container">
			<div class="page-header">
				<h1 id="timeline">Every projects processed in Chennai Youngsters comes under the three initatives we launched.</h1>
			</div>
			<ul class="timeline">
				<li>
				  <div class="timeline-badge"><i class="glyphicon glyphicon-book"></i></div>
				  <div class="timeline-panel">
					<div class="timeline-heading">
					  <h4 class="timeline-title">KARPIPOM - கற்பிப்போம்.</h4>
					</div>
					<div class="timeline-body">
					  <p>KARPIPOM deals with helping students in creating a bright future for themselves and mentoring them in their interested career choices. It also deals with various academic motivation to the upcoming students.</p>
					</div>
				  </div>
				</li>
				<li class="timeline-inverted">
				  <div class="timeline-badge warning"><i class="glyphicon glyphicon-leaf"></i></div>
				  <div class="timeline-panel">
					<div class="timeline-heading">
					  <h4 class="timeline-title">VIDHAIPOM - விதைப்போம்.</h4>
					</div>
					<div class="timeline-body">
					  <p>VIDHAIPOM deals with the environmental changes and care that is needed to make our surroundings a better place to be in. Helping the nature to be loved and lived.</p>
					</div>
				  </div>
				</li>
				<li>
				  <div class="timeline-badge danger"><i class="glyphicon glyphicon-user"></i></div>
				  <div class="timeline-panel">
					<div class="timeline-heading">
					  <h4 class="timeline-title">KAAPOM - காப்போம்.</h4>
					</div>
					<div class="timeline-body">
					  <p>KAAPOM deals with the rehabilitation of abandoned people and helping senior members of our society with their medical and basic essentials.</p>
					</div>
				  </div>
				</li>
			</ul>
		</div>
		<div class="subscribe-section">
			<div class="container">
			<div class="row text-center">
				<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h2>CHECK OUT OUR YOUTUBE CHANNEL</h2>
				<div class="subscribe-form">
					<form>
					  <a href="https://www.youtube.com/channel/UCE5sNkn88qEq1XFhMdHNbVQ"> <button type="submit" value="submit">SUBSCRIBE</button></a>
					</form>
				</div>
			</div>
			</div>
		</div>
		</div>

		<footer>
			<div class="container">
			   <div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<ul class="adress">
								 <span>ADDRESS</span>
								 <li>
									<p>No.56 Ramanujam 6th Cross street , Gandhinagar, Avadi, Chennai, 600054</p>
								  </li>

								  <li>
									<p>+91 93458 51641</p>
								  </li>

								  <li>
									<p><a href="mailto:chennaiyoungsters@gmail.com">chennaiyoungsters@gmail.com</a></p>
								  </li>
							 </ul>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<ul class="contact">
								 <span>Contact</span>
								 <li>
									<a href="/home/">Home</a>
								  </li>
								  <li>
									 <a href="/about/">About</a>
								  </li>
								  <li>
									<a href="#">Join Us</a>
								 </li>
								 <li>
								  <a href="/members/">Members</a>
							   </li>
							   <li>
								<a href="/donate/">Donate</a>
							 </li>
							</ul>
						</div>


						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<ul class="contact">
								 <span>Blogs</span>
								 <li>
									<a href="/karpipom/">KARPIPOM</a>
								  </li>
								  <li>
									 <a href="/kaapom/">KAAPOM</a>
								  </li>
								  <li>
									<a href="/vidhaipom/">VIDHAIPOM</a>
								  </li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						   <ul class="social">
									  <span>Social</span>
									   <li>
											<a href="https://www.facebook.com/chennaiyoungsters19/"><i class="fa fa-facebook fa-2x"></i></a>
									   </li>
									   <li>
											<a href="https://twitter.com/c_yongsters19?s=08"><i class="fa fa-twitter fa-2x"></i></a>
									   </li>
									   <li>
											<a href="https://instagram.com/chennaiyoungsters?igshid=1pwdgc6086b78"><i class="fa fa-instagram fa-2x"></i></a>
									   </li>
									   <li>
										<a href="https://www.youtube.com/channel/UCE5sNkn88qEq1XFhMdHNbVQ"><i class="fa fa-youtube fa-2x"></i></a>
								   	</li>
							 </ul>
					   </div>
				</div>
			</div>
		 </footer>
		 </body></html>