{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <meta name="viewport"content="height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="{% static 'mysite/css/style.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="{% static 'mysite/js/menu.js' %}"></script>
        <div class="tab" id="myTab">
            <a href=""><img src="{% static 'mysite/img/cypng.png' %}">&nbsp;&nbsp;</a>
            <a href="/about/">About</a>
            <a href="/karpipom/">Karpipom</a>
            <a href="/kaapom/">Kaapom</a>
            <a href="/vidhaipom/">Vidhaipom</a>
            <a href="/others/">Others</a>
            <a href="/members/">Members</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbTY4DXamVF2o9NKwWtbivj3B-zajR8SeUzFBooOnKMpQzjQ/viewform">Join Us</a>
            <a href="/volunteer/">Volunteer</a>
            <a href="/donate/">Donate</a>
            <a href="/contact/">Contact us</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars" aria-hidden = "true"></i>
            </a>
        </div>
        <br><br><br><br><br><br><br><br>
        <section class="section-white">
          <div class="container">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              </ol>
        
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{% static 'mysite/img/aaa.jpg' %}" alt="...">
                  
                </div>
                <div class="item">
                  <img src="{% static 'mysite/img/bbb.jpg' %}" alt="...">
                  
                </div>
                <div class="item">
                  <img src="{% static 'mysite/img/fff.jpg' %}" alt="...">
                </div>

                <div class="item">
                  <img src="{% static 'mysite/img/888.jpg' %}" alt="...">
                </div>

                <div class="item">
                  <img src="{% static 'mysite/img/777.jpg' %}" alt="...">
                </div>
              </div>
        
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
        
          </div>
        </section>
        
        <br><br><br>
        <div class="program">
            <h1>PROGRAMMES</h1>
        </div>
        <div class="how-section1">
            <div class="karpipom">
            <div class="row">
                <div class="col-md-6 how-img">
                    <img src="{% static 'mysite/img/karpipom.jpg' %}" class="rounded-circle img-fluid" alt=""/>
                </div>
                <div class="col-md-6">
                    <h4>KARPIPOM - கற்பிப்போம்.</h4>
                <p class="text-muted">KARPIPOM deals with helping students in creating a bright future for themselves
                     and mentoring them in their interested career choices. 
                     It also deals with various academic motivation to the upcoming students. </p>
                </div>
            </div>
            </div>
            <div class="kaapom">
            <div class="row">
                <div class="col-md-6 how-img">
                    <img src="{% static 'mysite/img/kaapom.jpg' %}" class="rounded-circle img-fluid" alt=""/>
                </div>
                <div class="col-md-6">
                    <h4>KAAPOM - காப்போம்.</h4>
                                
                                <p class="text-muted">KAAPOM deals with the rehabilitation of abandoned people 
                                    and helping senior members 
                                    of our society with their medical and basic essentials. </p>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 how-img">
                     <img src="{% static 'mysite/img/vidhaipom.jpg' %}" class="rounded-circle img-fluid" alt=""/>
                </div>
                <div class="col-md-6">
                    <h4>VIDHAIPOM - விதைப்போம்.</h4>
                                
                                <p class="text-muted">VIDHAIPOM deals with the environmental changes and care that 
                                    is needed to make our surroundings a better place to be in. 
                                    Helping the nature to be loved and lived.</p>
                </div>
            </div>
            </div>
            <div class="container py-7">
                <div class="row mb-5">
                  <div class="col-md-6 order-md-2">
                    <img src="{% static 'mysite/img/fff.jpg' %}" alt="Personal Trainer 1" class="rounded-circle img-fluid">
                  </div>
                  <div class="col-md-6 flex-valign text-right">
                    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                      MISSION
                    </h3>
                    <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
                    <p>To bring sustainable development by taking steps for eradicating
                        environmental stability and providing educational services.</p>
               
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6 text-md-right">
                    <img src="{% static 'mysite/img/ddd.jpg' %}" alt="Personal Trainer 2" class="rounded-circle img-fluid">
                  </div>
                  <div class="col-md-6 flex-valign">
                    <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
                      VISION
                    </h3>
                    <hr class="hr-primary w-70 ml-0 mb-3">
                    <p>We envision the strong world by shaping the future of students by 
                        creating right learning opportunities and development to attain excellent education.</p>
                  </div>
                </div>
              </div>
              <br><br><br>
                <p><button class="w3-button w3-round w3-block w3-black" onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSfiRNdGH-ELYDzP2lkDdd2AifEMs81qRXpp5i2P1tFnMxuozA/viewform';">BE A PART OF OUR FAMILY</button>
              <br><br><br>
            <div class="jumbotron">
            <div class="row w-100">
            <div class="col-md-3">
                <div class="card border-info mx-sm-1 p-3">
                    <div class="w3-xxxlarge" ><span class="fa fa-user" aria-hidden="true"></span></div>
                    <div class="text-info text-center mt-3"><h4>Volunteers</h4></div>
                    <div class="text-info text-center mt-2"><h1>500+</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mx-sm-1 p-3">
                    <div class="w3-xxxlarge"><span class="fa fa-check" aria-hidden="true"></span></div>
                    <div class="text-success text-center mt-3"><h4>Events</h4></div>
                    <div class="text-success text-center mt-2"><h1>50+</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-danger mx-sm-1 p-3">
                    <div class="w3-xxxlarge" ><span class="fa fa-clock-o" aria-hidden="true"></span></div>
                    <div class="text-danger text-center mt-3"><h4>Hours of Service</h4></div>
                    <div class="text-danger text-center mt-2"><h1>13410+</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-warning mx-sm-1 p-3">
                    <div class="w3-xxxlarge"><span class="fa fa-heart" aria-hidden="true"></span></div>
                    <div class="text-warning text-center mt-3"><h4>Love We Received</h4></div>
                    <div class="text-warning text-center mt-2"><h1>∞</h1></div>
                </div>
            </div>
         </div>
    </div>
    <footer>
      <div class="container">
         <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <ul class="adress">
                           <span>ADDRESS</span>    
                           <li>
                              <p>No.56 Ramanujam 6th Cross street , Gandhinagar, Avadi, Chennai, 600054</p>
                            </li>
                                 
                            <li>
                              <p>+91 93458 51641</p>
                            </li>
                                 
                            <li>
                              <p><a href="mailto:chennaiyoungsters@gmail.com">chennaiyoungsters@gmail.com</a></p>
                            </li>
                       </ul>
                  </div>
                  
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <ul class="contact">
                           <span>Contact</span>    
                           <li>
                              <a href="/home/">Home</a>
                            </li>                                 
                            <li>
                               <a href="/about/">About</a>
                            </li>                                   
                           
                           <li>
                            <a href="/members/">Members</a>
                         </li>
                         <li>
                          <a href="/donate/">Donate</a>
                       </li>
                      </ul>
                  </div>
                  
                  
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <ul class="contact">
                           <span>Blogs</span>    
                           <li>
                              <a href="/karpipom/">KARPIPOM</a>
                            </li>
                            <li>
                               <a href="/kaapom/">KAAPOM</a>
                            </li>
                            <li>
                              <a href="/vidhaipom/">VIDHAIPOM</a>
                            </li>
                      </ul>
                  </div>
             
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                     <ul class="social">
                                <span>Social</span>    
                                 <li>
                                      <a href="https://www.facebook.com/chennaiyoungsters19/"><i class="fa fa-facebook fa-2x"></i></a>
                                 </li>
                                 <li>
                                      <a href="https://twitter.com/c_yongsters19?s=08"><i class="fa fa-twitter fa-2x"></i></a>
                                 </li>
                                 <li>
                                      <a href="https://instagram.com/chennaiyoungsters?igshid=1pwdgc6086b78"><i class="fa fa-instagram fa-2x"></i></a>
                                 </li>
                                 <li>
                                  <a href="https://www.youtube.com/channel/UCE5sNkn88qEq1XFhMdHNbVQ"><i class="fa fa-youtube fa-2x"></i></a>
                                  </li>
                       </ul>
                 </div>
          </div> 
      </div>
   </footer>
  </body>
</html>