{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <meta name="viewport"content="height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="{% static 'mysite/css/members.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="{% static 'mysite/js/menu.js' %}"></script>
        <div class="tab" id="myTab">
            <a href="/home/"><img src="{% static 'mysite/img/cypng.png' %}">&nbsp;&nbsp;</a>
            <a href="/about/">About</a>
            <a href="/edu/">Education</a>
            <a href="/env/">Environment</a>
            <a href="/soc/">Social Welfare</a>
            <a href="/others/">Others</a>
            <a href="/members/">Members</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbTY4DXamVF2o9NKwWtbivj3B-zajR8SeUzFBooOnKMpQzjQ/viewform">Join Us</a>
            <a href="/volunteer/">Volunteer</a>
            <a href="/donate/">Donate</a>
            <a href="/contact/">Contact us</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars" aria-hidden = "true"></i>
            </a>
        </div>
        <br><br><br><br><br><br><br><br>
  <div class="head">
    <h1>EXECUTIVE COMMITTEE</h1>
  </div>
<div class="container mt-40">
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="{% static 'mysite/img/dinesh.jpeg' %}" alt="">
                <div class="box-content">
                    <h3 class="title">Dinesh</h3>
                    <span class="post">President</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="{% static 'mysite/img/bharath.jpg' %}" alt="">
                <div class="box-content">
                    <h3 class="title">Bharath</h3>
                    <span class="post">Vice President</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="{% static 'mysite/img/gokul.JPG' %}" alt="">
                <div class="box-content">
                    <h3 class="title">Gokul</h3>
                    <span class="post">Vice President</span>
                </div>
            </div>
        </div>
    </div>
</div>
        <!------------------ Hover Effect Style : Demo - 6 --------------->
<div class="container mt-40">
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="{% static 'mysite/img/sowm.png' %}" alt="">
                <div class="box-content">
                    <h3 class="title">Sowmiya</h3>
                    <span class="post">Secretary</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="{% static 'mysite/img/ravi.png' %}" alt="">
                <div class="box-content">
                    <h3 class="title">Ravi Shankar</h3>
                    <span class="post">Treasurer</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="{% static 'mysite/img/ramya.png' %}" alt="">
                <div class="box-content">
                    <h3 class="title">Ramya</h3>
                    <span class="post">Joint Secretary</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-40">
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="{% static 'mysite/img/sriman.png' %}" alt="">
                <div class="box-content">
                    <h3 class="title">Sriman</h3>
                    <span class="post">Joint Secretary</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="{% static 'mysite/img/goki.jpg' %}" alt="">
                <div class="box-content">
                    <h3 class="title">Gokila</h3>
                    <span class="post">Joint treasurer</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="{% static 'mysite/img/swathi.png' %}" alt="">
                <div class="box-content">
                    <h3 class="title">swathini</h3>
                    <span class="post">Joint Treasurer</span>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<div class="subscribe-section">
    <div class="container">
    <div class="row text-center">
        <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
        <h2>YOU ARE ONE CLICK AWAY TO BE A PART OF OUR FAMILY</h2>
        <div class="subscribe-form">
            <form>
              <button class='button' input type="button" onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSfiRNdGH-ELYDzP2lkDdd2AifEMs81qRXpp5i2P1tFnMxuozA/viewform';" >JOIN</button>
            </form>
        </div>
    </div>
    </div>
</div>
</div>
    </body>
    </html>
